@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  box-sizing: border-box;
  overflow: hidden;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.lock {
  overflow: hidden;
}

.header {
  min-height: 74px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  position: relative;
  /*
    @media (max-width: 768px) {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 3;
      }
    }
  */
}
@media (max-width: 992px) {
  .header {
    min-height: 60px;
  }
}
.header__body {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 992px) {
  .header__body {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .header__body {
    justify-content: space-between;
  }
}

.body-header__logo {
  position: relative;
  z-index: 11;
}
@media (max-width: 992px) {
  .body-header__logo img {
    width: 60px;
    height: auto;
  }
}
.body-header__burger {
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  z-index: 12;
}
.body-header__burger.active span {
  transform: scale(0);
}
.body-header__burger.active::before {
  transform: rotate(-45deg);
  top: 9px;
}
.body-header__burger.active::after {
  transform: rotate(45deg);
  bottom: 9px;
}
.body-header__burger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.body-header__burger::before, .body-header__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
}
.body-header__burger::before {
  top: 0;
  left: 0;
}
.body-header__burger::after {
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  .body-header__burger {
    display: block;
  }
}
.body-header__menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .body-header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #9f1f20;
    padding: 80px 20px 20px 20px;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
  }
  body.white-theme .body-header__menu {
    background-color: #3257DD;
  }
  .body-header__menu.active {
    top: 0;
  }
}

.menu__list-header {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 992px) {
  .menu__list-header {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .menu__list-header {
    flex-direction: column;
  }
}
.menu__activity {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 992px) {
  .menu__activity {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .menu__activity {
    flex-direction: column;
  }
}

.header-list__item {
  transition: stroke 0.3s;
}
.header-list__item_sub {
  position: relative;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header-list__item:hover svg path {
    stroke: #f82828;
    transition: stroke 0.3s;
  }
  body.white-theme .header-list__item svg path {
    stroke: #1c1d20;
  }
  body.white-theme .header-list__item:hover svg path {
    stroke: #3257dd;
  }
  .header-list__item:hover .header-list__link {
    color: #f82828;
  }
  body.white-theme .header-list__item:hover {
    color: #3257dd;
  }
}
@media (max-width: 768px) {
  body.white-theme .header-list__item svg path {
    stroke: #1c1d20;
  }
}
.header-list__link {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  display: flex;
  transition: all 0.3s;
}
body.white-theme .header-list__link {
  color: #1c1d20;
}
body.white-theme .header-list__link:hover {
  color: #3257dd;
}
@media (max-width: 992px) {
  .header-list__link {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .header-list__link {
    font-size: 22px;
    color: #fff;
  }
}
.header-list__top {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: all 0.3s;
}
.header-list__top svg {
  transition: all 0.3s;
}
.header-list__top.active svg {
  transform: rotate(180deg);
}
.header-list__top.active .header-list__link {
  color: #f82828;
}
body.white-theme .header-list__top.active .header-list__link {
  color: #3257dd;
}
body.white-theme .header-list__top:hover .header-list__link {
  color: #3257dd;
}
body.white-theme .header-list__top:hover {
  color: #3257dd;
}
.header-list__top.active svg path {
  stroke: #f82828;
}
body.white-theme .header-list__top.active svg path {
  stroke: #3257dd;
}
.header-list__wrapper-sub {
  display: none;
  position: absolute;
  white-space: nowrap;
  height: 100%;
  top: 30px;
  left: 0;
  padding-top: 10px;
  z-index: 2;
}
.header-list__wrapper-sub.active {
  display: block;
}
@media (max-width: 768px) {
  .header-list__wrapper-sub {
    left: -14%;
  }
}
.header-list__sub {
  background-color: #181818;
  border-radius: 10px;
  padding: 10px;
}
body.white-theme .header-list__sub {
  background-color: #f2f5fe;
}

.sub-list__item {
  transition: all 0.3s;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .sub-list__item:hover {
    background-color: rgba(248, 40, 40, 0.5);
  }
  body.white-theme .sub-list__item:hover {
    background-color: rgba(50, 87, 221, 0.5);
  }
}
.sub-list__link {
  display: block;
  padding: 14px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s;
}
body.white-theme .sub-list__link {
  color: #1C1D20;
}
body.white-theme .sub-list__link:hover {
  color: #fff;
}

.activity__wrapper-user {
  display: flex;
  gap: 16px;
}
@media (max-width: 992px) {
  .activity__wrapper-user {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .activity__wrapper-user {
    width: 100%;
    justify-content: space-between;
  }
}
.activity__wrapper-language {
  display: none;
  position: absolute;
  top: 30px;
  padding-top: 10px;
  right: 0;
  white-space: nowrap;
}
.activity__wrapper-language.active {
  display: block;
}
@media (max-width: 768px) {
  .activity__wrapper-language {
    top: -120px;
    right: -120px;
  }
}
.activity__call {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 28px;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .activity__call:hover {
    color: #f82828;
  }
  body.white-theme .activity__call:hover {
    color: #3257DD;
  }
}
@media (max-width: 992px) {
  .activity__call {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .activity__call {
    font-size: 22px;
  }
}
.activity__btn {
  font-weight: 700;
  width: 105px;
  height: 40px;
}
@media (max-width: 992px) {
  .activity__btn {
    width: 90px;
    height: 36px;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .activity__btn {
    font-size: 22px !important;
    width: 100%;
    height: 60px;
  }
}
.activity__langluage {
  width: 27px;
  height: 27px;
  position: relative;
}
.activity__langluage,
.activity__langluage svg {
  cursor: pointer;
}
@media (max-width: 992px) {
  .activity__langluage,
  .activity__langluage svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .activity__langluage,
  .activity__langluage svg {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 768px) {
  .activity__langluage:hover svg path {
    stroke: #f82828;
    transition: stroke 0.3s;
  }
  body.white-theme .activity__langluage:hover svg path {
    stroke: #3257DD;
    transition: stroke 0.3s;
  }
}
.activity__theme {
  cursor: pointer;
  width: 27px;
  height: 27px;
}
@media (max-width: 992px) {
  .activity__theme,
  .activity__theme svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .activity__theme,
  .activity__theme svg {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 768px) {
  .activity__theme:hover svg path {
    fill: #f82828;
    transition: fill 0.3s;
  }
  body.white-theme .activity__theme:hover svg path {
    fill: #3257DD;
    transition: stroke 0.3s;
  }
}
@media (max-width: 768px) {
  .activity {
    width: 100%;
  }
}

.language-wrapper__list {
  padding: 10px;
  border-radius: 10px;
  background-color: #181818;
}

.list-language__item {
  border-radius: 10px;
  padding: 6px 10px;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .list-language__item:hover {
    background-color: rgba(248, 40, 40, 0.5);
  }
  body.white-theme .list-language__item:hover {
    background-color: rgba(50, 87, 221, 0.5);
  }
}
body.white-theme .list-language {
  background-color: #F2F5FE;
}
.list-language__link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.list-language__link span {
  display: block;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #fff;
}
body.white-theme .list-language__link span {
  color: #1C1D20;
}

.footer {
  background-color: #181818;
}
.footer__header {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 25px 0;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__body {
    gap: 10px;
    flex-direction: column;
  }
}
.footer__text {
  color: #ACACAC;
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
}

.header-footer__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 33px;
}
@media (max-width: 500px) {
  .header-footer__title {
    font-size: 24px;
  }
}

.body-footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 768px) {
  .body-footer__contacts {
    order: 2;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .body-footer__menu {
    order: 1;
  }
}

.contacts-body__form {
  background-color: #1e1d1d;
  border-radius: 10px;
  padding: 25px;
}
@media (max-width: 768px) {
  .contacts-body__form {
    width: 100%;
  }
}
.contacts-body__phone-call {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacts-body__dedlain {
  color: #fff;
  font-size: 16px;
}
.contacts-body__dedlain span {
  color: #C92222;
}
@media (max-width: 768px) {
  .contacts-body__dedlain {
    text-align: center;
  }
}

.form-footer__title {
  color: #fff;
  font-size: 16px;
  padding-bottom: 10px;
}
.form-footer__user-activity {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .form-footer__user-activity {
    flex-direction: column;
  }
}
.form-footer__wrapper-input {
  padding: 0 10px;
  background-color: #121212;
  border-radius: 8px;
  min-height: 40px;
  display: flex;
  gap: 10px;
  width: 242px;
}
@media (max-width: 768px) {
  .form-footer__wrapper-input {
    width: 100%;
  }
}
.form-footer__input {
  background-color: transparent;
  width: 100%;
}
.form-footer__input:focus {
  color: #fff;
}
.form-footer__btn {
  width: 156px;
  min-height: 40px;
}
@media (max-width: 768px) {
  .form-footer__btn {
    width: 100%;
  }
}

.call-phone__call {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 28px;
}
.call-phone__list {
  display: flex;
  gap: 8px;
}
.call-phone__item {
  display: flex;
  background-color: #121212;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: right;
}
@media (max-width: 768px) {
  .menu-footer {
    text-align: center;
  }
}
.menu-footer__link {
  color: #ACACAC;
  font-size: 18px;
  transition: all 0.3s;
}
.menu-footer__link:hover {
  color: #fff;
}

.pages-btn {
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  background-color: #c92222;
  color: #fff;
  border: 2px solid #c92222;
  transition: all 0.3s;
}
body.white-theme .pages-btn {
  background-color: #3257DD;
  border: 2px solid #3257DD;
}
@media (min-width: 768px) {
  .pages-btn:hover {
    background-color: transparent;
  }
  body.white-theme .pages-btn:hover {
    background-color: transparent;
  }
}

.page-title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.wrapper-main {
  background-image: url("../../../../public/temple/images/theme-dark/bg/bg-main-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Page-Main */
.page-main__body {
  display: flex;
  flex-wrap: wrap;
  padding: 115px 0;
}
@media (max-width: 992px) {
  .page-main__body {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .page-main__body {
    padding: 30px 0;
    gap: 30px;
    justify-content: center;
  }
}

.body-page-main__content {
  display: flex;
  flex-direction: column;
  gap: 38px;
  flex: 1 1 50%;
  min-width: 374px;
}
@media (max-width: 992px) {
  .body-page-main__content {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .body-page-main__content {
    order: 2;
    min-width: 100%;
  }
}
.body-page-main__slang {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  min-width: 374px;
}
@media (max-width: 768px) {
  .body-page-main__slang {
    order: 1;
  }
}

.content-main-page__title {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 992px) {
  .content-main-page__title {
    font-size: 30px;
    line-height: 40px;
  }
}
body.white-theme .content-main-page__title {
  color: #1C1D20;
}
.content-main-page__text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #afaeae;
  max-width: 499px;
}
body.white-theme .content-main-page__text {
  color: #1C1D20;
}
@media (max-width: 992px) {
  .content-main-page__text {
    line-height: 22px;
  }
}
.content-main-page__btn {
  width: 180px;
  min-height: 50px;
}
@media (max-width: 500px) {
  .content-main-page__btn {
    width: 100%;
  }
}

.slang__title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  font-style: italic;
  position: relative;
  z-index: 1;
}
@media (max-width: 992px) {
  .slang__title {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .slang__title {
    font-size: 30px;
  }
}
.slang__title::before, .slang__title::after {
  content: "Web Direction";
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.05);
  font-weight: 700;
  font-size: 50px;
  font-style: italic;
  position: absolute;
}
@media (max-width: 992px) {
  .slang__title::before, .slang__title::after {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .slang__title::before, .slang__title::after {
    font-size: 30px;
  }
}
.slang__title::before {
  bottom: -30px;
  left: -10px;
}
.slang__title::after {
  top: -30px;
  right: -10px;
}

/* Page-Main // */
/* About */
.about {
  background-color: #181818;
  padding: 38px 0;
  position: relative;
}
body.white-theme .about {
  background-color: #D0D7F0;
}
body.white-theme .about::before {
  background-image: url("../../../../public/temple/images/theme-white/bg/bg-about.png");
}
.about::before {
  content: "";
  position: absolute;
  width: 50%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../../../public/temple/images/theme-dark/bg/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
@media (max-width: 768px) {
  .about::before {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .about::before {
    width: 120%;
  }
}
.about__body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .about__body {
    flex-direction: column;
    align-items: start;
  }
}

.body-about__content {
  flex: 1 1 50%;
}
.body-about__banner {
  flex: 1 1 50%;
}

@media (max-width: 992px) {
  .about-content__title {
    font-size: 26px;
  }
}
.title-tab {
  padding: 30px 0 0 0;
}
.title-tab__title {
  padding: 22px 0;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.title-tab__title.active {
  color: #c62e2e;
}
body.white-theme .title-tab__title.active {
  color: #3257DD;
}
@media (min-width: 768px) {
  .title-tab__title:hover {
    color: #c62e2e;
  }
  body.white-theme .title-tab__title:hover {
    color: #3257DD;
  }
}
@media (max-width: 992px) {
  .title-tab__title {
    font-size: 22px;
    padding: 15px 0;
  }
}

.about-banner__banner {
  display: none;
  flex-direction: column;
  gap: 32px;
  background: linear-gradient(90deg, #f83737 0%, rgba(146, 24, 24, 0.55) 100%);
  border-radius: 10px;
  padding: 35px 30px;
  position: relative;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
body.white-theme .about-banner__banner {
  background: linear-gradient(90deg, #3257DD 0%, rgba(28, 57, 163, 0.5) 100%);
}
.about-banner__banner.active {
  display: flex;
}
body.white-theme .about-banner__banner::before {
  background-image: url("../../../../public/temple/images/theme-white/bg/about-banner.png");
}
.about-banner__banner::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 10px;
  background-image: url("../../../../public/temple/images/before-element.png");
  background-size: cover;
}
@media (max-width: 992px) {
  .about-banner__banner {
    padding: 20px 15px;
    gap: 20px;
  }
}
.about-banner__tippy {
  display: flex;
  gap: 10px;
}
.about-banner__tippy span {
  display: block;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  padding: 10px 18px;
}
@media (max-width: 992px) {
  .about-banner__tippy span {
    font-size: 14px;
    padding: 5px 10px;
  }
}
.about-banner__btn {
  width: 140px;
  min-height: 32px;
  position: relative;
  z-index: 2;
}
@media (max-width: 500px) {
  .about-banner__btn {
    width: 100%;
    min-height: 50px;
  }
}

.content-banner__title {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .content-banner__title {
    font-size: 20px;
  }
}
.content-banner__text {
  font-size: 18px;
  color: #f3cece;
  position: relative;
  z-index: 2;
}
body.white-theme .content-banner__text {
  color: #fff;
}
@media (max-width: 992px) {
  .content-banner__text {
    font-size: 16px;
  }
}

/* About // */
/* Info */
.info {
  background-color: #121212;
}
.info__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .info__header {
    flex-direction: column;
    gap: 10px;
  }
}
.info__body {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
@media (max-width: 768px) {
  .info__body {
    gap: 60px;
  }
}

.header-info {
  padding: 90px 0 30px 0;
}
@media (max-width: 768px) {
  .header-info {
    padding: 60px 0 30px 0;
  }
}
@media (max-width: 768px) {
  .header-info__title {
    font-size: 22px;
  }
}
.header-info__btn {
  width: 150px;
  min-height: 33px;
}

.body-info_advantages {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .body-info_advantages {
    flex-direction: column;
  }
}
.body-info__portfolio {
  display: flex;
  gap: 10px;
}
@media (max-width: 768px) {
  .body-info__portfolio {
    flex-direction: column;
  }
}

.portfolio-info__banner {
  flex: 1 1 70%;
}
.portfolio-info__banner img {
  width: 100%;
  border-radius: 12px;
}
.portfolio-info__tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex: 1 1 30%;
  min-width: 333px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .portfolio-info__tabs {
    min-width: 100%;
    flex-direction: row;
  }
}

.tabs-portfolio__item {
  cursor: pointer;
  display: flex;
  background-color: #181818;
  border-radius: 10px;
  min-width: 289px;
  position: relative;
  transition: all 0.3s;
}
.tabs-portfolio__item.active::before {
  content: "";
  position: absolute;
  width: 4%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #cf2f2f;
  border-radius: 10px 0 0 10px;
}
.tabs-portfolio__item.active::after {
  content: "";
  position: absolute;
  width: 4%;
  height: 30%;
  top: 50%;
  transform: translateY(-50%);
  left: -1%;
  background-color: #cf2f2f;
  border-radius: 10px 0 0 10px;
}
@media (max-width: 768px) {
  .tabs-portfolio__item {
    flex: 1 1 49%;
  }
}
.tabs-portfolio__img {
  flex: 1 1 40%;
}
.tabs-portfolio__img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.tabs-portfolio__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 60%;
  padding: 15px;
}

.content-tabs__title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.content-tabs__text {
  color: #fff;
  flex: 1 1 auto;
}
.content-tabs__link {
  color: #c92222;
}

.advantages-info__list-advantages {
  flex: 1 1 50%;
}
@media (max-width: 768px) {
  .advantages-info__list-advantages {
    gap: 10px;
    justify-content: center;
  }
}
.advantages-info__query {
  flex: 1 1 50%;
}
@media (max-width: 768px) {
  .advantages-info__query {
    align-items: center;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-list__item {
  flex: 1 1 50%;
  max-width: 245px;
}
@media (max-width: 768px) {
  .advantages-list__item {
    text-align: center;
  }
}
.advantages-list__title {
  color: #f82828;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
.advantages-list__text {
  font-size: 16px;
  color: #fff;
}

.advantages-query {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.advantages-query__title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 768px) {
  .advantages-query__title {
    text-align: center;
  }
}
.advantages-query__text {
  font-size: 16px;
  color: #7b7b7b;
}
@media (max-width: 768px) {
  .advantages-query__text {
    text-align: center;
  }
}
.advantages-query__btn {
  width: 170px;
  min-height: 50px;
}
@media (max-width: 768px) {
  .advantages-query__btn {
    width: 100%;
  }
}

/* Info // */
/* Reviews */
.reviews {
  background-color: #121212;
}
.body-reviews__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.list-reviews__item {
  background-color: #161717;
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 29%;
  position: relative;
}
.list-reviews__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  right: 0;
  background-image: url("../../../public/images/reviews-decor.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.list-reviews__top {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  z-index: 4;
}
.list-reviews__user-logo {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #1e1f1f;
}
.list-reviews__name {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 5px;
}
.list-reviews__text {
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 4;
}

/* Reviews // */
/* Faq */
.faq {
  background-color: #121212;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .faq {
    padding-bottom: 60px;
  }
}
.body-faq__spoller {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.spoller__item {
  border-radius: 10px;
  background-color: #161717;
  cursor: pointer;
}
.spoller__item.active .spoller__top img {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.spoller__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 20px;
}
.spoller__title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.spoller__text {
  padding: 0 20px 20px 20px;
  font-size: 14px;
  color: #acacac;
}

/* Faq // *//*# sourceMappingURL=style.css.map */